@import "../colors.css";

* {
    /* Base styling for all modules */
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
    color: @on_surface;
}

window#waybar {
    background-color: rgba(0,0,0,0.1);
    transition-property: background-color;
    transition-duration: .7s;
    border-radius: 0px 0px 8px 8px;
}

.modules-left {
    margin:8px 0px 8px 10px;
}

.modules-right {
    margin:8px 10px 8px 0px;
}

.modules-center {
    margin:8px 0px 8px 0px;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    margin: 3px 15px 3px 0px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px 5px 5px 5px;
    color:@on_background;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */
tooltip {
    border-radius: 10px;
    background-color: @background;
    padding: 5px;
    margin: 0px;
}

tooltip label {
    color: @on_surface;
}

/* -----------------------------------------------------
 * idle inhibitor
 * ----------------------------------------------------- */
#idle_inhibitor {
    background-color: @background;
    color: @on_surface;
    border-radius: 5px 5px 5px 5px;
    margin: 2.5px 0px 2.5px 0px;
    font-size: 14px;
    padding: 0px 6px 0px 8px;
    color: @primary;
}

#idle_inhibitor.activated {
    font-weight: bold;
    color: @error_container;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */
 #workspaces {
    background: @background;
    margin: 2.5px 0px 2.5px 0px;
    padding: 0px 2px;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    font-style: normal;
    color: @on_surface;
}

#workspaces button {
    padding: 0px 6px;
    margin: 3px 2px;
    border-radius: 3px 3px 3px 3px;
    color: @on_surface;
    background-color: @background;
    transition: all 0.1s linear;
}

#workspaces button.active {
    color: @on_primary_container;
    background: @primary_container;
    border-radius: 3px 3px 3px 3px;
    min-width: 30px;
    transition: all 0.1s linear;
}

#workspaces button.urgent {
  background: @error;
}

#workspaces button:hover {
    color: @on_primary_container;
    background: @tertiary_container;
    border-radius: 2px 2px 2px 2px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */


.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 50px;
}
/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink1 {
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
    color: @on_surface;
}


#custom-tools {
    margin-right:12px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,#memory,#cpu,#language {
    margin: 0px;
    padding: 0px;
    color: @on_surface;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: @background;
    color: @on_surface;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 6px 0px 10px;
    margin: 2.5px 0px 2.5px 0px;
    font-size: 14px;
}
#custom-uptime {
    background-color: @background;
    color: @on_surface;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 6px 0px 10px;
    margin: 2.5px 0px 2.5px 0px;
    font-size: 14px;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
    background-color: @background;
    color: @on_surface;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 10px 0px 10px;
    margin: 3px 5px 3px 0px;
    border: 3px solid @border_color;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @background;
    color: @on_surface;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 10px 0px 10px;
    margin: 3px 5px 3px 0px;
    border: 3px solid @border_color;
}

#network.ethernet {
    background-color: @background;
    color: @on_surface;
}

#network.wifi {
    background-color: @background;
    color: @on_surface;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: @background;
    color: @on_surface;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 10px 0px 10px;
    margin: 3px 5px 3px 0px;
    border: 3px solid @border_color;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: @background;
    color: @on_surface;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 15px 0px 10px;
    margin: 3px 5px 3px 0px;
    opacity: 1.0;
    border: 3px solid @border_color;
}

#battery.charging, #battery.plugged {
    color: @on_surface;
    background-color: @background;
}

@keyframes blink {
    to {
        background-color: @background;
        color: @on_surface;
    }
}

#battery.critical:not(.charging) {
    background-color: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    background-color: @background;
    color: @on_surface;
    border-radius: 5px 5px 5px 5px;
    margin: 2.5px 0px 2.5px 0px;
    font-size: 14px;
    padding: 0px 8px;
}

#tray menu { 
  background-color: @background;
  border-radius: 5px;
  padding: 0;
}
#tray menu menuitem:hover{ 
  background-color: @on_primary;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}


/* -----------------------------------------------------
 * App Launcher
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @background;
    color: @on_surface;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 8px 0px 10px;
    margin: 2.5px 0px 2.5px 0px;
}

/* -----------------------------------------------------
 * Custom 
 * ----------------------------------------------------- */

#custom-powermenu {
    background-color: @background;
    color: @on_surface;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 16px 0px 10px;
    margin: 2.5px 0px 2.5px 0px;
}

 #custom-notifications {
    background-color: @background;
    color: @on_surface;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 5px 0px 10px;
    margin: 2.5px 0px 2.5px 0px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    background-color: @background;
    color: @on_surface;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 6px 0px 10px;
    margin: 2.5px 0px 2.5px 0px;
    font-size: 14px;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    background-color: @background;
    color: @on_surface;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 10px 0px 10px;
    margin: 2.5px 0px 2.5px 0px;
    font-size: 14px;
}

#custom-updates.green {
    background-color: @background;
}

#custom-updates.yellow {
    background-color: @tertiary;
    color: @on_tertiary;
}

#custom-updates.red {
    background-color: @error;
    color: @on_error;
}
